
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 20px;
  background-color: var(--secondry-color);
  box-shadow: 0 2px 4px var(--shadow-color);
  position: relative;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
  position: relative;
}

.logo-container{
    width: 150px;
    height: 80px;
}

.logo-container img{
    width: 150px;
    height: 80px;
}

.nav-links li {
  cursor: pointer;
  color: var(--black);
  font-weight: 500;
  position: relative;
}

.nav-links li:hover {
    color: var(--primary-color);

  }

.nav-links .active {
  color: var(--primary-color);
  font-weight: bold;
}

/* Dropdown Styling */
.dropdown {
  position: relative;
}

.dropdown-menu {
    position: absolute;
    background-color: white;
    list-style: none;
    padding: 10px;
    margin: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 250px;
    overflow-y: auto;
    z-index: 1000;
  }

  .has-submenu {
    position: relative;
  }
  

.dropdown-menu li {
  padding: 10px;
  cursor: pointer;
  color: var(--text-color);
  font-size: 14px;

}

.sub-menu li {
    text-decoration: none;
    list-style: none;
  }

.dropdown-menu li:hover {
  color: var(--primary-color);
}

.dropdown-icon {
    font-size: 12px;
    color: #555;
  }

  .mobileNavIcon__container{
    display: none;
  }

  @media (max-width: 850px) {
    .navbar{
      justify-content: space-between;
    }
    .nav-links{
      display: none;
    }
    .mobileNavIcon__container {
      display: block;
      position: relative;
  }
  
  .mobileNavIcon__menu {
      cursor: pointer;
      z-index: 1000;
  }
  
  .mobileNavIcon__nav {
      position: fixed;
      top: 0;
      right: -100%;
      width: 90%;
      height: 100vh;
      background: var(--secondry-color);
      color: var(--black);
      transition: right 0.3s ease-in-out;
      padding: 20px;
      z-index: 999;
      overflow-y: scroll;
      overflow-x:hidden;
  }
  
  .mobileNavIcon__nav--open {
      right: 0;
  }
  
  .mobileNavIcon__nav ul {
      list-style: none;
      padding: 0;
  }
  
  .mobileNavIcon__nav ul li {
      padding: 15px 0;
  }
  
  .mobileNavIcon__nav ul li a {
      color: var(--black);
      text-decoration: none;
      font-size: 18px;
  }
  .mobileNavIcon__nav ul a:hover{
    color: var(--primary-color);
  }
  
  .mobileNavIcon__logo img {
      width: 80px;
      height: 50px;
  }
  
  .mobileNavIcon__logo {
      width: 80px;
      height: 50px;
  }
  
  .mobileNavIcon__menu-icon {
      position: relative;
      z-index: 1000;
  }
  
}