:root {
    --primary-color: rgb(28, 97, 235);
    --text-color: #555;
    --secondry-color: white;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --hover-bg: rgba(28, 97, 235, 0.1);
    --black:black;
    --highlightcolor: #c9a800
    

  }
  