.footer {
    background-color: #f8f8f8;
    padding: 30px 20px;
    font-family: Arial, sans-serif;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto;
    gap: 40px;
  }
  
  .footer-container .footer-logo {
    text-align: center;
    max-width: 400px;
  }
  
  .footer-container .footer-logo .logo {
    width: 250px;
    margin-bottom: 10px;
    margin-top: 20px
  }
  
  .footer-container .footer-logo h3 {
    font-size: 20px;
    font-weight: bold;
  }
  
  .footer-container .footer-logo p {
    font-size: 14px;
    margin: 5px 0;
  }
  
  .footer-container .footer-logo span {
    font-size: 12px;
    color: var(--text-color);
  }
  
  .footer-container .footer-links {
    flex: 1;
    margin: 0 20px;
    
  }
  
  .footer-container .footer-links h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer-container .footer-links ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0;
    color: var(--text-color);
    font-size: 14px;


  }
  

  
  .footer-container .footer-links ul li a {
    text-decoration: none;
    color: var(--text-color);
    transition: 0.3s;
  }
  
  .footer-container .footer-links ul li a:hover {
    color: var(--black);
  }
  
  .footer-container .footer-contact {
    max-width: 300px;
  }
  
  .footer-container .footer-contact h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer-container .footer-contact p {
    font-size: 14px;
    color: var(--text-color);
  }
  
  .footer-container .footer-contact .note {
    font-size: 12px;
    color: var(--text-color);
    margin-top: 10px;
  }
  
  .footer-container .qr-code {
    width: 150px;
    margin-top: 5px;
  }
  
  .footer-bottom {
    width: 100%;
    text-align: center;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin: 0;
  }
  
 .footer-bottom p {
    font-size: 14px;
    color: var(--text-color);
    text-align: center;
    margin: 0;

  }
  
.footer-bottom strong {
    font-weight: bold;
    margin: 0;
  }
  